# gbajam21

The GBA Jam 2021 was an homebrew competition hosted by [gbadev.net](https://gbadev.net) to celebrate the 20th anniversary of the Game Boy Advance. Contestants had 3 months (from April 10th 2021 at 12:00 AM to July 12th 2021 at 12:00 AM) to develop something new running on the GBA, using whatever tools they wanted.

The competition was hosted at [itch.io/jam/gbajam21](https://itch.io/jam/gbajam21).

To learn more about GBA development, visit [gbadev.net](https://gbadev.net) and join our [Discord](https://discord.io/gbadev).

This page collects every entry submitted, providing the final released ROMs and the sources.

## Games

{% for entry in entries %}
### {{entry.title}}
{% for screenshot in entry.screenshots[0:2] %}<img height="150px" src="{{screenshot}}"/>&nbsp;{% endfor %}

- [ROM File]({{entry.rom}})
- [Release](https://github.com/gbajam21/gbajam21.github.io/tree/main/entries/{{entry.foldername}})

{% endfor %}

## Results

The entries are still being judged by the jury. Check back later.
